In [1]:
import numpy as np
import pandas as pd

In [2]:
content = pd.read_csv(r"C:\Users\97798\Desktop\Content.csv")

In [3]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [4]:
content.columns

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Category', 'URL'], dtype='object')

In [7]:
content.drop('User ID', axis =1, inplace = True)

In [8]:
content

                               Content ID   Type         Category
0    97522e57-d9ab-4bd6-97bf-c24d952602d2  photo         Studying
1    9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo   healthy eating
2    230c4e4d-70c3-461d-b42c-ec09396efb3f  photo   healthy eating
3    356fff80-da4d-4785-9f43-bc1261031dc6  photo       technology
4    01ab84dd-6364-4236-abbb-3f237db77180  video             food
..                                    ...    ...              ...
995  b4cef9ef-627b-41d7-a051-5961b0204ebb  video  public speaking
996  7a79f4e4-3b7d-44dc-bdef-bc990740252c    GIF       technology
997  435007a5-6261-4d8b-b0a4-55fdc189754b  audio         veganism
998  4e4c9690-c013-4ee7-9e66-943d8cbd27b7    GIF          culture
999  75d6b589-7fae-4a6d-b0d0-752845150e56  audio       technology

[1000 rows x 3 columns]

In [15]:

content = content.replace('"', '', regex=True)

In [17]:
content.Category.unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', 'Fitness', 'Veganism', 'Travel', 'Education',
       'Technology', 'Soccer', 'Culture', 'Food', 'Healthy Eating',
       'Science', 'Public Speaking'], dtype=object)

In [18]:
reaction = pd.read_csv(r"C:\Users\97798\Desktop\Reactions.csv")

In [26]:
reaction.drop('User ID', axis =1 , inplace = True)

In [24]:
reaction.dropna(axis =0, inplace = True)

In [34]:
reaction.Datetime = reaction.Datetime.astype(np.datetime64)

In [35]:
reaction

                                 Content ID        Type            Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust 2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike 2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2      scared 2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust 2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2  interested 2020-08-23 12:25:58
...                                     ...         ...                 ...
25547  75d6b589-7fae-4a6d-b0d0-752845150e56     worried 2020-10-31 04:50:14
25548  75d6b589-7fae-4a6d-b0d0-752845150e56     dislike 2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56   intrigued 2021-02-16 17:17:02
25551  75d6b589-7fae-4a6d-b0d0-752845150e56     worried 2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56     cherish 2021-01-04 04:55:11

[22534 rows x 3 columns]

In [36]:
reaction_type = pd.read_csv(r"C:\Users\97798\Desktop\ReactionTypes.csv")

In [38]:
reaction_type.drop('Unnamed: 0', axis=1, inplace = True)

In [39]:
reaction_type

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

In [40]:
reaction_type.Type.unique()

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'adore', 'like', 'dislike',
       'intrigued', 'peeking', 'scared', 'worried'], dtype=object)

In [41]:
reaction.Type.unique()

array(['disgust', 'dislike', 'scared', 'interested', 'peeking', 'cherish',
       'hate', 'indifferent', 'super love', 'worried', 'like', 'heart',
       'want', 'intrigued', 'love', 'adore'], dtype=object)

In [46]:
reaction_type = pd.concat([reaction_type, reaction], axis =0 ,ignore_index=True)

In [47]:
reaction_type

,Type,Sentiment,Score,Content ID,Datetime
0,heart,positive,60.0,NaN,NaT
1,want,positive,70.0,NaN,NaT
2,disgust,negative,0.0,NaN,NaT
3,hate,negative,5.0,NaN,NaT
4,interested,positive,30.0,NaN,NaT
...,...,...,...,...,...
22545,worried,NaN,NaN,75d6b589-7fae-4a6d-b0d0-752845150e56,2020-10-31 04:50:14
22546,dislike,NaN,NaN,75d6b589-7fae-4a6d-b0d0-752845150e56,2020-06-27 09:46:48
22547,intrigued,NaN,NaN,75d6b589-7fae-4a6d-b0d0-752845150e56,2021-02-16 17:17:02
22548,worried,NaN,NaN,75d6b589-7fae-4a6d-b0d0-752845150e56,2020-11-04 20:08:31
22549,cherish,NaN,NaN,75d6b589-7fae-4a6d-b0d0-752845150e56,2021-01-04 04:55:11

In [48]:
reaction_type = pd.concat([reaction_type, content], axis =0 ,ignore_index=True)

In [49]:
reaction_type

,Type,Sentiment,Score,Content ID,Datetime,Category
0,heart,positive,60.0,NaN,NaT,NaN
1,want,positive,70.0,NaN,NaT,NaN
2,disgust,negative,0.0,NaN,NaT,NaN
3,hate,negative,5.0,NaN,NaT,NaN
4,interested,positive,30.0,NaN,NaT,NaN
...,...,...,...,...,...,...
23545,video,NaN,NaN,b4cef9ef-627b-41d7-a051-5961b0204ebb,NaT,public speaking
23546,GIF,NaN,NaN,7a79f4e4-3b7d-44dc-bdef-bc990740252c,NaT,technology
23547,audio,NaN,NaN,435007a5-6261-4d8b-b0a4-55fdc189754b,NaT,veganism
23548,GIF,NaN,NaN,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,NaT,culture
23549,audio,NaN,NaN,75d6b589-7fae-4a6d-b0d0-752845150e56,NaT,technology

In [51]:
reaction_type.groupby('Type').Score.agg('sum').nlargest(n=5)

Type
super love    75.0
adore         72.0
cherish       70.0
want          70.0
love          65.0
Name: Score, dtype: float64